{
    "extends": "<%= relativePathToWorkspaceRoot %>/tsconfig.json",
    "compilerOptions": {
        "baseUrl": "tsconfig",
        "rootDir": "./src",
        "lib": ["es2018"],
        "declaration": true,
        "module": "commonjs",
        "moduleResolution": "node",
        "sourceMap": true,
        "target": "es6"
    },
    "include": ["./src/**/*.ts"]
}
